LLM_URL=http://192.168.0.29:8080/v1
SPEECH_URL=ws://192.168.0.29:8888/ws/speech-in
TTS_URL=ws://192.168.0.29:8888/ws/tts
TTS_VOICE=Serena
ORCHESTRATOR_MODEL=ggml-org/gemma-4-E4B-it-GGUF
AGENTIC_MODEL=ggml-org/gemma-4-E4B-it-GGUF
